.shop-single .review .review-nav li {
    list-style: none;
    padding: 13px 33px;
    background: #1c1c1c;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .RevActive .rev,
  .DescActive .desc {
    background: #287bff !important;
  }